In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Adding the csv file to a data frame
data = pd.read_csv("uber.csv")

In [3]:
data.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [4]:
#Checking the different data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028136 entries, 0 to 1028135
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date/Time  1028136 non-null  object
 1   Lat        1028136 non-null  float64
 2   Lon        1028136 non-null  float64
 3   Base       1028136 non-null  object
dtypes: float64(2), object(2)
memory usage: 31.4+ MB

In [ ]:
#Changing the "date/time" column to date data type
data["Date/Time"] = data["Date/Time"].map(pd.to_datetime)

In [ ]:
#Checking to see if it worked
data.info()

In [ ]:
#Adding day column to data frame
data["Day"] = data["Date/Time"].apply(lambda x: x.day)
#Adding weekday column to data frame
data["Weekday"] = data["Date/Time"].apply(lambda x: x.weekday())
#Adding hour column to data frame
data["Hour"] = data["Date/Time"].apply(lambda x: x.hour)

In [ ]:
print(data.head())

In [ ]:
#Density plot of Rides per day in a month
sns.set(rc={'figure.figsize':(12, 10)})
sns.distplot(data["Day"]).set(title='Density by Day of Month')

In [ ]:
#Density plot by hour
sns.distplot(data["Hour"])

In [ ]:
#Density plot by weekday
sns.distplot(data["Weekday"])

# Conclusion

We can examine the Uber journeys in New York City in the following way. I came to a few conclusions from this analysis, including:

Uber makes the most money on Mondays.
Fewer people use Uber on Saturdays.
Uber is busiest at 6 p.m. on weekdays.
Uber trip numbers tend to increase around five in the morning.
The majority of Uber trips start in the New York area around Manhattan.